body {
  font-family: "NOME_FONT", sans-serif; 
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #7C8F74;
  background-size: cover;
  background-position: center;
}
font-face {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  background-color: #ffffffee;
  padding-bottom: 7% ;
}
.logo{
  width: 300px;
  float: left;
  margin-top: 1%;
  margin-left: 1%;
  
}


iframe {
  margin-left: 20px;
  max-width: 100%;
  max-width: 50vw;
  max-height: 80vh;
}
h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
h3 {
  margin-left: 12rem;
  font-size: 3rem;
  margin-block-start: 5rem;
  margin-block-end: 0;
}
.contact-text{
  margin-left: 12rem;
  font-size: 3rem;
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: bold;
}
label{
  font-family: Arial, Helvetica, sans-serif;
}
form {
  display: grid;
  gap: 1.5rem;
  width: 50%;
  margin-left: 12rem;

}
input, textarea {
  font-size: 1rem;
  padding: 0.5rem;
  width: 100%;
}
button {
  font-size: 1rem;
  padding: 0.5rem;
  background-color: #7C8F74;
  width: 15rem;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin-left: 6rem;
  height: 2.5rem;
}
.carousel {
  position: relative;
}

.main-image {
  position: relative;
}

.main-image img {
  max-width: 58%;
  max-height: 1%;
  padding-top: 5%;
  padding-bottom: 2%;
  display: block;
  margin: auto;
}

.thumbnails {
  display: flex;
  justify-content: center;
}

.thumbnails img {
  width: 100px;
  height: 100px;
  margin: 0 10px;
  cursor: pointer;
  opacity: 0.5;
}

.thumbnails img:hover {
  opacity: 1;
}

button {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  outline:0;
}

svg {
  padding: 5px;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -45px;
  margin-left: -35px;
  width: 50px;
  height: 70px;
}

.left {
  z-index: 1;
  left: 1.5%;
}

.right {
  z-index: 1;
  left: 99%;
}

.left:hover polyline,
.left:focus polyline {
  stroke-width: 3;
}

.left:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}

.right:hover polyline,
.right:focus polyline {
  stroke-width: 3;
}

.right:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}

polyline {
  transition: all 250ms ease-in-out;
}

.contact-right{
  width: 50%;
  display:flex;
  flex-direction: column;
  gap: .25rem;
}
.contact-left {
  width: 50%;
  height: 100%;

}
.box{
  margin: 3.5rem;
  display: flex;
  height: 66rem;
  gap: 2rem;
  background-color: whitesmoke;
}
ul li{
  margin-bottom: 0.5rem;
  margin-left: 12rem;
  font-size: 1.35rem;
  list-style: none;
  margin-bottom: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
}
ul{
  padding-inline-start: 0;
}
.map{
  margin-top: 9rem;
  margin-left: 2rem;
}