body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-image: url(studio1.jpg);
  background-size: cover;
  background-position: center;
}
header {
  background-color: #e1e0e0ee;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
}
main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 900px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #ffffffe9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
iframe {
  margin-left: 20px;
}
h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  margin-bottom: 0.5rem;
}
form {
  display: grid;
  gap: 1rem;
}
input, textarea {
  font-size: 1rem;
  padding: 0.5rem;
  width: 100%;
}
button {
  font-size: 1rem;
  padding: 0.5rem;
  background-color: #333;
  color: #ffffff;
  border: none;
  cursor: pointer;
}